
@{
    ViewData["Title"] = "Register";
}
<div class="container">
  <form method="post" action="/Account/register">
    <div class="form-group">
      <label for="name" class="text-primary">Full Name</label>
      <input type="text" class="form-control rounded-pill" id="name" placeholder="Enter your full name">
    </div>
    <div class="form-group">
      <label for="email" class="text-primary">Email</label>
      <input type="email" class="form-control rounded-pill" id="email" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="email" class="text-primary">Email</label>
      <input type="email" class="form-control rounded-pill" id="email" placeholder="Enter your Contact">
    </div>
    <div class="form-group">
      <label for="DOB" class="text-primary">DOB</label>
      <input type="text" class="form-control rounded-pill" id="email" placeholder="Enter your Date of Birth">
    </div>
      <div class="form-group">
      <label for="Location" class="text-primary">Location</label>
      <input type="text" class="form-control rounded-pill" id="email" placeholder="Enter your Location">
    </div>
    <div class="form-group">
      <label for="password" class="text-primary">Password</label>
      <input type="password" class="form-control rounded-pill" id="password" placeholder="Enter your password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label text-primary" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block rounded-pill">Sign in</button>
  </form>
</div>
