@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    
    <p>Email : vishankrthr@gmail.com</p>
    <p>Phone no :  : 68751352354 </p>
    <p>Location : Bhilai </p>
</div>